
<header>

  



  <div id="header">

    <div class="container">
  
      <div class="row">

        <div class="col-md-3">
          <div class="header-logo">
            <a routerLink="/" class="logo">
              <img src="../../../assets/img/logo.png" alt="">
            </a>
          </div>
        </div>
       

     
        <div class="col-md-6">
          <div class="header-search">
            <form>
              <select class="input-select">
                <option value="0">Toda las categorias</option>
                <option value="1">Categoria 1</option>
                <option value="2">Categoria 2</option>
              </select>
              <input class="input" placeholder="buscar">
              <button class="search-btn">Buscar</button>
            </form>
          </div>
        </div>
     
        <div class="col-md-3 clearfix">
          <div class="header-ctn">
         
            <div>
              <a href="#">
                <i class="fa fa-heart-o"></i>
                <span> deseos</span>
                <div class="qty">0</div>
              </a>
            </div>
           

       
            <div class="dropdown" >
              <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="cursor: pointer;">
                <i class="fa fa-shopping-cart"></i>
                <span>Tu carrito</span>
                <div class="qty">{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}}</div>
              </a>
              <div class="cart-dropdown" >
                <div class="cart-list" *ngIf="cartData.data[0].numInCart !== 0">
                  <div class="product-widget" *ngFor="let c of cartData.data; let i=index">
                    <div class="product-img">
                      <img src="{{c.product?.image}}" alt="" width="20px">
                    </div>
                    <div class="product-body">
                      <h3 class="product-name"><a href="#">{{c.product?.name}}</a></h3>
                      <h4 class="product-price"><span class="qty">{{c.numInCart}} x </span>{{c.product?.price | currency:'USD'}}</h4>
                    </div>
                    <button class="delete" (click)="cartService.DeleteProductFromCart(i)"><i class="fa fa-close"></i></button>
                  </div>


                </div>
                <div class="cart-summary">
                  <small>{{cartData.data[0].numInCart !== 0 ? cartData.data.length : 0}} Item(s) selected</small>
                  <h5>TOTAL : {{cartTotal | currency:'USD'}}</h5>
                </div>
                <div class="cart-btns">
                  <a routerLink="/cart">Ver carrito</a>
                  <a routerLink="/checkout">Pagar <i class="fa fa-arrow-circle-right"></i></a>
                </div>
              </div>
            </div>
        
            <div class="menu-toggle">
              <a href="#">
                <i class="fa fa-bars"></i>
                <span>Menu</span>
              </a>
            </div>
        
          </div>
        </div>
      
      </div>
    
    </div>
  
  </div>

</header>



