

  <div class="barra">
    <div class="container">
        <div class="row">
                <div class="four columns icono icono1">
                    <p>Todo tus productos <br>
                    Explora  los productos mas recientes</p>
                </div>
                <div class="four columns icono icono2">
                    <p>La mejor calidad <br>
                    Envio a todo el pais</p>
                </div>
                <div class="four columns icono icono3">
                    <p>Economicos <br>
                      Exportación </p>
                </div>
        </div>
    </div>

</div>


<div class="section">

  <div class="container">
 
    <div class="row">


      <div class="col-md-12">
        <div class="section-title">
          <h3 class="title">Nuevos productos</h3>
        </div>
      </div>
 

      <div class="col-md-12">
        <div class="row">
          <div class="col-md-4 col-sm-6" *ngFor="let p of products">
            <div class="card my-2">
              <img [src]="p.image" alt="{{p.name}}" width="200px" class="card-img-top" (click)="selectProduct(p.id)" style="cursor:pointer;">
              <div class="card-header">
                <div class="card-title">
                  <p>{{p.name | titlecase}}</p>
                </div>
              </div>
              <div class="card-body">
                <h6>{{p.description.substr(0, 40)}} ....</h6>
                <p class="lead">{{p.price | currency:'USD'}}</p>
              </div>

              <div class="row d-flex justify-content-center border-primary my-3">
                <div class="col-md-6 ">
                  <button class="btn btn-outline-primary btn-sm btn-block"
                          [class.disabled]="p.quantity < 1"
                          [class.btn-outline-danger]="p.quantity < 1"
                          (click)="AddProduct(p.id)" [disabled]="p.quantity < 1">
                    {{ p.quantity < 1 ? "PRODUCTO AGOTADO" : "Añadir al carrito"}}
                  </button>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

</div>
