<ngx-spinner
  bdColor="rgba(151,149,149,0.4)"
  size="large"
  color="orange"
  type="ball-clip-rotate-pulse"
  fullScreen="true"
>
  <p style="font-size: 20px; color: black;">Orden...</p>
</ngx-spinner>

<div class="section" *ngIf="cartData.total > 0">
  <!-- container -->
  <div class="container">
    <!-- row -->
    <div class="row">
      <div class="col-md-7">
        <!-- Billing Details -->
        <div class="billing-details">
          <div class="section-title">
            <h3 class="title">Dirección de Envio</h3>
          </div>
          <div class="form-group">
            <input
              class="input"
              type="text"
              name="first-name"
              placeholder="Primer nombre"
            />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="text"
              name="last-name"
              placeholder="Segundo nombre"
            />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="email"
              name="email"
              placeholder="Correo"
            />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="text"
              name="address"
              placeholder="Direccion"
            />
          </div>
          <div class="form-group">
            <input class="input" type="text" name="city" placeholder="Departamento" />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="text"
              name="ciudad"
              placeholder="Cou"
            />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="text"
              name="zip-code"
              placeholder="código postal"
            />
          </div>
          <div class="form-group">
            <input
              class="input"
              type="tel"
              name="tel"
              placeholder="Telefono"
            />
          </div>
          <div class="form-group">
            <div class="input-checkbox">
              <input type="checkbox" id="create-account" />
              <label for="create-account">
                <span></span>
               Crear una cuenta?
              </label>
              <div class="caption">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Excepturi, sit. Excepturi a error culpa similique consectetur
                  offici
                </p>
                <input
                  class="input"
                  type="password"
                  name="password"
                  placeholder="Ingresa contraseña"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- /Billing Details -->

        <!-- Shiping Details -->
        <div class="shiping-details">
          <div class="section-title">
            <h3 class="title">Dirección de Envío</h3>
          </div>
          <div class="input-checkbox">
            <input type="checkbox" id="shiping-address" />
            <label for="shiping-address">
              <span></span>

              ¿Enviar a una dirección diferente?
            </label>
            <div class="caption">
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="first-name"
                  placeholder="Primer nombre"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="last-name"
                  placeholder="Sgundo nombre"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="email"
                  name="email"
                  placeholder="Correo"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="address"
                  placeholder="Direccion"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="city"
                  placeholder="Departamento"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="country"
                  placeholder="ciudad"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="text"
                  name="zip-code"
                  placeholder="codigo postal"
                />
              </div>
              <div class="form-group">
                <input
                  class="input"
                  type="tel"
                  name="tel"
                  placeholder="Telefono"
                />
              </div>
            </div>
          </div>
        </div>
        <!-- /Shiping Details -->

        <!-- Order notes -->
        <div class="order-notes">
          <textarea class="input"
           placeholder=" pedidos"></textarea>
        </div>
        <!-- /Order notes -->
      </div>

      <!-- Order Details -->
      <div class="col-md-5 order-details">
        <div class="section-title text-center">
          <h3 class="title">Tu orden</h3>
        </div>
        <div class="order-summary">
          <div class="order-col">
            <div><strong>PRODUCTO</strong></div>
            <div><strong>SubTotal</strong></div>
          </div>
          <div class="order-products">
            <div class="order-col" *ngFor="let c of cartData.data">
              <div>{{ c.numInCart }}x {{ c.product.name }}</div>
              <div>{{ c.product.price * c.numInCart | currency: "USD" }}</div>
            </div>
          </div>
          <div class="order-col">
            <div>ENVIO</div>
            <div><strong>GRATIS</strong></div>
          </div>
          <div class="order-col dropdown-divider">
            <div><strong>TOTAL</strong></div>
            <div>
              <strong class="order-total">{{
                cartTotal | currency: "USD"
              }}</strong>
            </div>
          </div>
        </div>
        <div class="payment-method">
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-1" />
            <label for="payment-1">
              <span></span>
              Transferencia bancaria 
            </label>
            <div class="caption">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Ea, quas culpa sit minima voluptas quidem necessitatibu
              </p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-2" />
            <label for="payment-2">
              <span></span>
              Pago con cheque
            </label>
            <div class="caption">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia dolores fugiat assumenda accusantium beatae pariatur sapiente magni, 
                obcaecati quod ex maxime provident labore nam accusamus velit sint molestiae dicta? Quo.
              </p>
            </div>
          </div>
          <div class="input-radio">
            <input type="radio" name="payment" id="payment-3" />
            <label for="payment-3">
              <span></span>
              Paypal 
            </label>
            <div class="caption">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
             molestiae provident harum assumenda 
              </p>
            </div>
          </div>
        </div>
        <div class="input-checkbox">
          <input type="checkbox" id="terms" />
          <label for="terms">
            <span></span>
           
He leído y acepto <a href="#">Términos y condiciones</a>
          </label>
        </div>
        <button
          type="submit"
          class="btn-outline-danger btn-sm my-2 btn-block"
          [disabled]="cartTotal <= 0"
          (click)="onCheckout()"
        >
        Realizar pedido
        </button>
      </div>
      <!-- /Order Details -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</div>
<!-- /SECTION -->

<div class="text-center my-5" *ngIf="cartData.total <= 0">
  <h4>Tu carrito esta vacío</h4>
  <button class="btn btn-primary btn-lg mt-3" routerLink="/">IR A COMPRAR</button>
</div>
